__pycache__/
*.py[cod]

.venv/
venv/
env/

.idea/
.vscode/

.DS_Store

data/input/
data/output/
data/tmp/
data/datasets/
data/labeling
*.mp4
*.avi
*.mov
*.mkv

!data/output/final/
!data/output/final/**

!data/input/web/
!data/input/web/**

models/
*.pt
*.pth
*.onnx
*.rknn

.env
*.log
